.form-add {
    transform: translate(100%);
    transition: ease-out 0.4s;
}

.active.form-add {
    transform: translate(0%);
    transition: ease-out 0.4s;
}

.comment {
    transform: translateY(100%);
    transition: ease-out 0.4s;
}

.active.comment {
    transform: translateY(0%);
    transition: ease-out 0.4s;
}
